<%= form_with model: @company, local: true do |form| %>

  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:
        <ul>
          <% @company.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </h2>
    </div>
  <% end %>


  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>