<div class="center jumbotron">
<h1>All companies list</h1>

  <% if @companies.count > 0 %>
    <table>
      <tr>
        <td>Name</td>
        <td>Description</td>
        <td colspan="2"></td>
      </tr>
      <% @companies.each do |company| %>
      <tr>
        <td><%= link_to "#{company.name}", company_path(company) %></td>
        <td><%= company.description %></td>
        <td><%= link_to "Edit",  edit_company_path(company)%></td>
        <td><%= link_to "Delete", company_path(company), method: :delete, data: { confirm: 'Are ypu shyre?'} %></td>
      </tr>
      <% end %>
    </table>
    <% else %>
  <h2>You have not companies now. To create company press New company link</h2>
  <% end %>
</div>
<%= link_to "New company", new_company_path %>
