<h1>All companies list</h1>

<table>
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td colspan="2"></td>
  </tr>

  <% @companies.each do |company| %>
  <tr>
    <td><%= link_to "#{company.name}", company_path(company) %></td>
    <td><%= company.description %></td>
    <td><%= link_to "Edit",  edit_company_path(company)%></td>
    <td><%= link_to "Delete", company_path(company), method: :delete, data: { confirm: 'Are ypu shyre?'} %></td>
  </tr>
  <% end %>
</table>
<%= link_to "New company", new_company_path %>