<h1>All companies list</h1>

<table>
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td colspan="2"></td>
  </tr>

  <% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.description %></td>
    <td><%= link_to "Show", company_path(company) %></td>
    <td><%= link_to "Edit",  edit_company_path(company)%></td>
  </tr>
</table>
<% end %>
<%= link_to "New company", new_company_path %>