<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<%= link_to "Edit",  edit_company_path(@company) %><br>
<%= link_to "Delete", company_path(@company), method: :delete, data: { confirm: 'Are ypu shyre?'} %><br>
<%= link_to "Companies list", companies_path %>
