<!DOCTYPE html>
<html>
  <head>
    <title>HRCrm</title>
    <%= csrf_meta_tags %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <% if user_signed_in? %>
        <span>Hello, <%= current_user.email %></span>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <%= link_to 'Log_out', destroy_user_session_path, :method => :delete %>
      <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
